{% extends "base.html" %}
{% block content %}

<h4 class="mb-3">Stories</h4>

<div class="d-flex gap-3 flex-wrap">
    {% for story in stories %}
        {% if story.image %}
            <div>
                <img src="{{ story.image.url }}"
                     width="120"
                     height="120"
                     class="rounded-circle"
                     style="object-fit: cover;">
                <div class="text-center mt-1">
                    {{ story.user.username }}
                </div>
            </div>
        {% endif %}
    {% empty %}
        <p>No stories available</p>
    {% endfor %}
</div>

{% endblock %}
