body {
    background: linear-gradient(120deg, #89f7fe, #66a6ff);
    font-family: Arial, sans-serif;
}

.auth-box {
    width: 350px;
    margin: 100px auto;
    padding: 25px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

.auth-box h2 {
    text-align: center;
}

.auth-box input {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
}

.auth-box button {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    background: #66a6ff;
    border: none;
    color: white;
    font-size: 16px;
}
