{% extends "base.html" %}
{% block content %}

<div class="container mt-4" style="max-width:500px">

  <h4 class="mb-3">
    Followers of {{ profile_user.username }}
  </h4>

  <hr>

  {% for f in followers %}
  <div class="d-flex align-items-center mb-3">

    <img src="{{ f.follower.profile.image.url }}"
         class="rounded-circle me-3"
         width="45" height="45"
         style="object-fit:cover">

    <a href="{% url 'accounts:profile' f.follower.username %}"
       class="fw-semibold text-decoration-none">
      {{ f.follower.username }}
    </a>

  </div>
  {% empty %}
    <p class="text-muted">No followers yet</p>
  {% endfor %}

</div>

{% endblock %}
